@import "../../variables.scss";
@import "../../breakpoints.scss";

.sign_up {
  min-height: 100vh;
  width: 100vw;

  padding: $md 5vw;

  background: linear-gradient(to bottom right, #38bec9 30%, #4098d7 100%);

  &__heading {
    color: $light-white;
    margin: $md 0;
  }

  @include md {
    padding: $md 15vw;
  }

  @include lg {
    padding: $md 30vw;
  }
}