@import '../../variables.scss';
@import '../../breakpoints.scss';

.big_card {
  height: 100%;
  width: 100%;

  background-image: url(https://res.cloudinary.com/dnglix0tu/image/upload/v1576271971/bike%20registration/home.jpg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: $border-radius;

  &__shade {
    display: flex;
    height: 100%;
    width: 100%;

    justify-content: center;

    background-color: rgba(39,36,29,0.5);
    border-radius: $border-radius;
  }

  &__text {
    margin-top: $lg;

    color: $light-white;

    @include md {
      font-size: 42px;
    }
  }
}
