$sm: 0.5rem;
$md: 2rem;
$lg: 5rem;

$border-radius: 10px;

$text-lg: 32px;
$text-md-lg: 28px;
$text-md: 24px;
$text-sm: 18px;

$light-white: #FAF9F7;
$background-white: #E8E6E1;

$text: #423D33;
$text-dark: #27241D;
$text-light: #504A40;

$primary: #54D1D8;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;